/*ABOUT PAGE START*/
.about {
}

.aboutblurb {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  /*max-width: 90%;*/
  /*text-align: center;*/
  /*margin: 0 auto;*/
  padding: 40px;
}
.bio {
  font-size: 1.3em;
  font-family: "Quicksand", sans-serif;
  margin: 10px;
}
.hello {
  font-size: 2em;
  font-style: bold;
}
.about-img {
  max-width: 250px;
  margin: 10px;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}
.contact {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 20px;
  border: solid 5px white;
  margin: 10px;
}
.contact-top {
  text-align: center;
}
.contact-img {
  max-width: 150px;
  margin-bottom: 10px;
}
.contact-text {
  font-size: 3em;
  padding: 10px;
}
.input {
  width: 100%;
}
.nameemailwrap {
  display: grid;
}
.name-wrap {
  width: 95%;
  grid-column-start: 1;
  grid-column-end: 2;
}
.email-wrap {
  width: 95%;
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: end;
}

.form-entry {
  padding-bottom: 10px;
  font-size: 1.5em;
}

/*ABOUT PAGE END*/
