/*ABOUT PAGE START*/
.about {
}

.aboutblurb {
  grid-template-columns: 0.1fr 1fr;
  padding: 40px;
  /* display: inline-block; */
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
.bio {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  margin: 0 10px;
}
.hello {
  font-size: 3em;
  font-style: bold;
  line-height: 1;
}
.about-img {
  max-width: 300px;
  margin: 4px 15px 0 10px;
  float: left;
}
.fran-img {
  float: right;
  max-width: 200px;
  padding-top: 5px;
  padding: 9px 7px 0 9px;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}
.contact {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 20px;
  border: solid 5px white;
  margin: 10px;
}
.contact-top {
  text-align: center;
}
.contact-img {
  max-width: 150px;
  margin-bottom: 10px;
}
.contact-text {
  font-size: 3em;
  padding: 10px;
}
.input {
  width: 100%;
}
.nameemailwrap {
  display: grid;
}
.name-wrap {
  width: 95%;
  grid-column-start: 1;
  grid-column-end: 2;
}
.email-wrap {
  width: 95%;
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: end;
}
.form-entry {
  padding-bottom: 10px;
  font-size: 1.5em;
}
.send {
  text-align: right;
}
.sendbtn {
  font-family: "script-font";
  background-color: #fffffffa;
  font-size: 1.2em;
  cursor: pointer;
}
/*ABOUT PAGE END*/
