/* SMALL STUFF START*/
@media only screen and (max-width: 600px) {
  body {
    /* for debug, to make it obvious it's working */
    /* color: red; */
    /* background-color: black; */
  }

  /*INDEX START***********************/
  #indexcontent {
    padding-top: 0px;
  }
  .indexname {
    padding: 40px;
    font-size: 2.5em;
    margin-top: 56px;
  }
  /*INDEX END************/

  /*PAGE START***********************/
  #page {
    padding-top: 56px;
    margin-top: 0px;
  }
  .pagetop {
    display: inline-flex;
    width: 100%;
    min-height: 20vh;
    /*grid-column-start: 1;
    grid-column-end: span 2;*/
  }
  .pagename {
    font-size: 3em;
  }

  figure {
    min-height: 100px;
    height: auto;
    margin: 10px;
    padding: 24px;
  }
  /*PAGE END***********/

  /*DETAIL PAGE START*****************/
  .detailwrapper {
    padding-top: 10px;
    grid-template-columns: 1fr;
  }
  /*DETAIL PAGE END******/

  /*ABOUT START**********************/
  .aboutblurb {
    display: block;
  }
  .bio {
    font-size: 1em;
  }
  .about-img {
    float: left;
    max-width: 150px;
  }

  .contact-wrapper {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  .contact {
    grid-column-end: 2;
  }
  /*ABOUT END**********/

  /*FOOTER START**********************/

  /*FOOTER END*********/
}

/* @media only screen and (max-width: 200px) {
  figure {
    min-height: 100px;
    height: auto;
    margin: 5px;
    padding: 17px;
  }

  figure .name {
    font-size: 0.9em;
  }

  figure .price {
    font-size: 0.9em;
  }
  #page .itemprice {
    font-size: 3.5vw;
  }
  figure a:hover {
    font-size: 1em;
  }
} */
