@media only screen and (min-width: 600px) {
  .detailnamesmall {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

/*@media only screen and (max-width: 1025px) {
  .aboutblurb {
    display: block;
  }
  .about-img {
    float: left;
  }
}*/

/* SMALL STUFF START*/
@media only screen and (max-width: 600px) {
  body {
    /* for debug, to make it obvious it's working */
    /* color: red; */
    /* background-color: black; */
  }

  /*INDEX START***********************/
  #indexcontent {
    padding-top: 0px;
  }
  .indexname {
    padding: 40px;
    font-size: 3em;
    margin-top: 56px;
  }
  a.pagelink {
    font-size: 2em;
  }
  /*INDEX END************/

  /*PAGE START***********************/
  #page {
    padding-top: 56px;
    margin-top: 0px;
  }
  .pagetop {
    display: inline-flex;
    width: 100%;
    min-height: 20vh;
    /*grid-column-start: 1;
    grid-column-end: span 2;*/
  }
  .pagename {
    font-size: 3em;
  }

  figure {
    min-height: 100px;
    height: auto;
    margin: 10px;
    padding: 24px;
  }
  /*PAGE END***********/

  /*DETAIL PAGE START*****************/
  .detailwrapper {
    padding-top: 10px;
    grid-template-columns: 1fr;
  }
  .detailitemname {
    display: none;
  }
  .detailprice {
    display: none;
  }
  .detailnamesmall {
    background-color: white;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 10px;
  }
  .specssm {
    margin-top: 5px;
  }
  .detailitemnamesm {
    font-size: 2em;
  }
  .detailpricesm {
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
    font-size: 1.2em;
  }

  /*DETAIL PAGE END******/

  /*ABOUT START**********************/
  .about-img {
    max-width: 255px;
  }
  .fran-img {
    max-width: 150px;
  }
  .contact-wrapper {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  .contact {
    grid-column-end: 2;
  }
  .aboutblurb {
    max-width: 85%;
  }
  /*ABOUT END**********/

  /*FOOTER START**********************/
  .footer {
    padding: 15px 25px 30px 25px;
  }
  .footertopic {
    display: none;
    border-bottom: none;
  }
  .social {
    border-left: solid 0.5px black;
    padding-left: 10px;
  }
  /*FOOTER END*********/
}

/* @media only screen and (max-width: 200px) {
  figure {
    min-height: 100px;
    height: auto;
    margin: 5px;
    padding: 17px;
  }

  figure .name {
    font-size: 0.9em;
  }

  figure .price {
    font-size: 0.9em;
  }
  #page .itemprice {
    font-size: 3.5vw;
  }
  figure a:hover {
    font-size: 1em;
  }
} */
