/*NAV & FOOTER START*/
@media only screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
  nav {
    padding: 10px;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    background-color: white;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
  }

  nav #links {
    /* Flexbox would be another way to do this */
    text-align: right;
  }

  .navlogo {
    max-height: 32px;
  }

  nav a#logo {
    margin: 0;
    display: flex;
  }

  nav .pagelinks {
    /* need to make these only one line mobile */
    text-align: center;
  }

  nav a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    margin: 0px 10px;
    transition: 0.3s ease all;
  }

  nav a:hover {
    color: rgb(180, 50, 180);
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*text-align: center;*/
  /*margin: 70px;*/
  /*margin-bottom: 10px;*/
  padding: 10px 70px 70px 70px;
  background-color: rgb(255, 211, 211);
  border-top: solid 5px white;
}

footer .footertopic {
  font-size: 2em;
  text-decoration: underline;
  color: white;
}

footer .footerinfo a {
  display: block;
  text-decoration: none;
  font-size: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footerinfo a:hover {
  font-style: italic;
}

footer .logoimage img {
  max-width: 150px;
  max-height: 150px;
  float: right;
}

/****HAMBURGER START****/
@media only screen and (max-width: 600px) {
  body {
    /*background-color: red !important;*/
  }
  .regnav {
    display: none;
  }
  .hamburger {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 1000;
    display: grid;
    width: 100%;
  }

  a#logo {
    display: inline-block;
    padding: 10px;
  }
  a#logo .navlogo {
    max-height: 32px;
  }
  #sidebarMenu {
    position: fixed;
    margin-top: 56px;
    right: 0;
    width: 50%;
    transform: translateX(2000px);
    transition: transform 250ms ease-in-out;
    background: rgba(255, 255, 255, 0.9);
  }
  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border: 1px solid white;
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #black;
    padding: 14px;
    padding-left: 25px;
    cursor: pointer;
    border-top: 1.5px solid white;
  }
  .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    /*color: rgba(255, 255, 255, 0.5);*/
  }
  .sidebarMenuInner li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    /*z-index: 99;*/
    /*height: 100%;*/
    /*width: 100%;*/
    top: 22px;
    right: 15px;
    /*height: 22px;*/
    width: 22px;
    /*position: fixed;*/
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(255, 211, 211);
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
}
/****HAMBURGER END****/
