/*  PRODUCT PAGE START */
#page {
  padding: 10px;
  margin-top: 43px;
}

.sparklecontainer {
  /*background-image: url("./images/glitter.jpg");*/
  background-position: center;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  background-color: rgb(255, 211, 211);
  display: flex;
  /*margin-top: 42px;*/
  border-bottom: solid 5px white;
}

.pagetop {
  display: flex;
  width: 100%;
  text-align: center;
}

.pagename {
  width: 100%;
  font-size: 4.5em;
  /*background-color: rgba(252, 244, 250, 0.9);*/
  text-align: center;
  margin: 30px 0;
  padding: 15px 0;
  /*color: rgb(96, 96, 96);*/
  color: black;
}

/*.topimage {*/
/*background-image: url("./images/glitter.jpg");*/
/*background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(255, 211, 211);
}*/

.gallery {
  display: flex;
  /*width: 900px;*/
  margin: 10px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}

figure img {
  width: 100%;
}

figure .name {
  position: absolute;
  right: 4px;
  bottom: 2px;
  font-size: 1.2em;
}

figure .price {
  position: absolute;
  left: 4px;
  bottom: 2px;
  font-size: 1.1em;
  font-family: "Courier New", Courier, monospace;
}

figure a:hover {
  font-style: italic;
  /*font-size: 1.5em;*/
  transition: all 0.3s ease;
}

/* hacky css for corner based on https://stackoverflow.com/a/48997090/83859 */
figure span.soldout_ribbon {
  display: block;
  width: 0;
  height: 0;
  border-top: 100px solid black;
  border-bottom: 100px solid transparent;
  border-right: 100px solid transparent;
  position: absolute;
  left: 0px;
  top: 0px;
}

figure span.soldout_ribbon span {
  position: absolute;
  /* padding: 5px; */
  /* top: -24px; */
  top: -85px;
  left: 10px;
  /* left: -24px; */
  letter-spacing: 2px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  transform: rotate(-45deg);
  display: block;
}

/*PRODUCT PAGE END*/
